code {
  white-space: pre-wrap;
}
span.smallcaps {
  font-variant: small-caps;
}
span.underline {
  text-decoration: underline;
}
div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}
ul.task-list {
  list-style: none;
}
pre > code.sourceCode {
  white-space: pre;
  position: relative;
}
pre > code.sourceCode > span {
  display: inline-block;
  line-height: 1.25;
}
pre > code.sourceCode > span:empty {
  height: 1.2em;
}
code.sourceCode > span {
  color: inherit;
  text-decoration: inherit;
}
div.sourceCode {
  margin: 1em 0;
}
pre.sourceCode {
  margin: 0;
}
@media screen {
  div.sourceCode {
    overflow: auto;
  }
}
@media print {
  pre > code.sourceCode {
    white-space: pre-wrap;
  }
  pre > code.sourceCode > span {
    text-indent: -5em;
    padding-left: 5em;
  }
}
pre.numberSource code {
  counter-reset: source-line 0;
}
pre.numberSource code > span {
  position: relative;
  left: -4em;
  counter-increment: source-line;
}
pre.numberSource code > span > a:first-child::before {
  content: counter(source-line);
  position: relative;
  left: -1em;
  text-align: right;
  vertical-align: baseline;
  border: none;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 4px;
  width: 4em;
  background-color: #232629;
  color: #7a7c7d;
}
pre.numberSource {
  margin-left: 3em;
  border-left: 1px solid #7a7c7d;
  padding-left: 4px;
}
div.sourceCode {
  color: #cfcfc2;
  background-color: #232629;
}
@media screen {
  pre > code.sourceCode > span > a:first-child::before {
    text-decoration: underline;
  }
}
code span {
  color: #cfcfc2;
} /* Normal */
code span.al {
  color: #95da4c;
  background-color: #4d1f24;
  font-weight: bold;
} /* Alert */
code span.an {
  color: #3f8058;
} /* Annotation */
code span.at {
  color: #2980b9;
} /* Attribute */
code span.bn {
  color: #f67400;
} /* BaseN */
code span.bu {
  color: #7f8c8d;
} /* BuiltIn */
code span.cf {
  color: #fdbc4b;
  font-weight: bold;
} /* ControlFlow */
code span.ch {
  color: #3daee9;
} /* Char */
code span.cn {
  color: #27aeae;
  font-weight: bold;
} /* Constant */
code span.co {
  color: #7a7c7d;
} /* Comment */
code span.cv {
  color: #7f8c8d;
} /* CommentVar */
code span.do {
  color: #a43340;
} /* Documentation */
code span.dt {
  color: #2980b9;
} /* DataType */
code span.dv {
  color: #f67400;
} /* DecVal */
code span.er {
  color: #da4453;
  text-decoration: underline;
} /* Error */
code span.ex {
  color: #0099ff;
  font-weight: bold;
} /* Extension */
code span.fl {
  color: #f67400;
} /* Float */
code span.fu {
  color: #8e44ad;
} /* Function */
code span.im {
  color: #27ae60;
} /* Import */
code span.in {
  color: #c45b00;
} /* Information */
code span.kw {
  color: #cfcfc2;
  font-weight: bold;
} /* Keyword */
code span.op {
  color: #cfcfc2;
} /* Operator */
code span.ot {
  color: #27ae60;
} /* Other */
code span.pp {
  color: #27ae60;
} /* Preprocessor */
code span.re {
  color: #2980b9;
  background-color: #153042;
} /* RegionMarker */
code span.sc {
  color: #3daee9;
} /* SpecialChar */
code span.ss {
  color: #da4453;
} /* SpecialString */
code span.st {
  color: #f44f4f;
} /* String */
code span.va {
  color: #27aeae;
} /* Variable */
code span.vs {
  color: #da4453;
} /* VerbatimString */
code span.wa {
  color: #da4453;
} /* Warning */
/* Adjusted to give override background and text colour */
.highlight pre,
pre,
.highlight .hll {
  background-color: #49483e;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 5px;
  color: #ffffff;
}

blockquote {
  border-left: 6px solid grey;
  padding-left: 10px;
  /* adjust as needed */
}

figcaption {
  text-align: center;
  color: dimgray;
}

figure * {
  display: block;
  margin: auto;
}

.gist pre {
  color: #515151;
}

/* Highlights taken from https://gist.github.com/asaaki/1007420  for Monokai theme */
.c {
  color: #75715e;
}

/* Comment                     */
.err {
  color: #960050;
  background-color: #1e0010;
}

/* Error                       */
.k {
  color: #66d9ef;
}

/* Keyword                     */
.l {
  color: #ae81ff;
}

/* Literal                     */
.n {
  color: #f8f8f2;
}

/* Name                        */
.o {
  color: #f92672;
}

/* Operator                    */
.p {
  color: #f8f8f2;
}

/* Punctuation                 */
.cm {
  color: #75715e;
}

/* Comment.Multiline           */
.cp {
  color: #75715e;
}

/* Comment.Preproc             */
.c1 {
  color: #75715e;
}

/* Comment.Single              */
.cs {
  color: #75715e;
}

/* Comment.Special             */
.ge {
  font-style: italic;
}

/* Generic.Emph                */
.gs {
  font-weight: bold;
}

/* Generic.Strong              */
.kc {
  color: #66d9ef;
}

/* Keyword.Constant            */
.kd {
  color: #66d9ef;
}

/* Keyword.Declaration         */
.kn {
  color: #f92672;
}

/* Keyword.Namespace           */
.kp {
  color: #66d9ef;
}

/* Keyword.Pseudo              */
.kr {
  color: #66d9ef;
}

/* Keyword.Reserved            */
.kt {
  color: #66d9ef;
}

/* Keyword.Type                */
.ld {
  color: #e6db74;
}

/* Literal.Date                */
.m {
  color: #ae81ff;
}

/* Literal.Number              */
.s {
  color: #e6db74;
}

/* Literal.String              */
.na {
  color: #a6e22e;
}

/* Name.Attribute              */
.nb {
  color: #f8f8f2;
}

/* Name.Builtin                */
.nc {
  color: #a6e22e;
}

/* Name.Class                  */
.no {
  color: #66d9ef;
}

/* Name.Constant               */
.nd {
  color: #a6e22e;
}

/* Name.Decorator              */
.ni {
  color: #f8f8f2;
}

/* Name.Entity                 */
.ne {
  color: #a6e22e;
}

/* Name.Exception              */
.nf {
  color: #a6e22e;
}

/* Name.Function               */
.nl {
  color: #f8f8f2;
}

/* Name.Label                  */
.nn {
  color: #f8f8f2;
}

/* Name.Namespace              */
.nx {
  color: #a6e22e;
}

/* Name.Other                  */
.py {
  color: #f8f8f2;
}

/* Name.Property               */
.nt {
  color: #f92672;
}

/* Name.Tag                    */
.nv {
  color: #f8f8f2;
}

/* Name.Variable               */
.ow {
  color: #f92672;
}

/* Operator.Word               */
.w {
  color: #f8f8f2;
}

/* Text.Whitespace             */
.mf {
  color: #ae81ff;
}

/* Literal.Number.Float        */
.mh {
  color: #ae81ff;
}

/* Literal.Number.Hex          */
.mi {
  color: #ae81ff;
}

/* Literal.Number.Integer      */
.mo {
  color: #ae81ff;
}

/* Literal.Number.Oct          */
.sb {
  color: #e6db74;
}

/* Literal.String.Backtick     */
.sc {
  color: #e6db74;
}

/* Literal.String.Char         */
.sd {
  color: #e6db74;
}

/* Literal.String.Doc          */
.s2 {
  color: #e6db74;
}

/* Literal.String.Double       */
.se {
  color: #ae81ff;
}

/* Literal.String.Escape       */
.sh {
  color: #e6db74;
}

/* Literal.String.Heredoc      */
.si {
  color: #e6db74;
}

/* Literal.String.Interpol     */
.sx {
  color: #e6db74;
}

/* Literal.String.Other        */
.sr {
  color: #e6db74;
}

/* Literal.String.Regex        */
.s1 {
  color: #e6db74;
}

/* Literal.String.Single       */
.ss {
  color: #e6db74;
}

/* Literal.String.Symbol       */
.bp {
  color: #f8f8f2;
}

/* Name.Builtin.Pseudo         */
.vc {
  color: #f8f8f2;
}

/* Name.Variable.Class         */
.vg {
  color: #f8f8f2;
}

/* Name.Variable.Global        */
.vi {
  color: #f8f8f2;
}

/* Name.Variable.Instance      */
.il {
  color: #ae81ff;
}

/* Literal.Number.Integer.Long */
